* {
  box-sizing: border-box;
}

.integrasiSystemDataT {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  padding: 154px 1707px 806px 115px;
  width: 1920px;
  height: 1080px;

  .beranda {
    width: 98px;
    height: 29px;
    letter-spacing: 0;
    color: #000000;
    font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: 700;
  }

  .autoWrapper8 {
    position: absolute;
    top: 0;
    left: 0;
    width: 1920px;
    height: 1080px;

    .rectangle18 {
      display: flex;
      position: absolute;
      top: 0;
      left: 0;
      align-items: flex-start;
      justify-content: space-between;
      background: #d9d9d9;
      width: 1920px;
      height: 1080px;

      .rectangle13 {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        border-radius: 5px;
        background: #439df1;
        padding: 37px 9px 587px 29px;

        .materialSymbolsHisto {
          width: 50px;
          height: 50px;
          overflow: hidden;
        }

        .logoPertaminaGasNega {
          margin-left: 25px;
          width: 200px;
          height: 60px;
        }

        .autoWrapper {
          display: flex;
          align-items: center;
          align-self: stretch;
          justify-content: space-between;
          margin-top: 46px;
          padding-right: 86px;
          padding-left: 18px;

          .lineMdHomeTwotone {
            position: relative;
            width: 50px;
            height: 50px;
            overflow: hidden;

            .vector {
              position: absolute;
              top: 6px;
              left: 10px;
              width: 29px;
              height: 38px;
            }

            .group {
              position: absolute;
              top: 4px;
              left: 4px;
              width: 42px;
              height: 41px;
            }

            .materialSymbolsHomeR {
              position: absolute;
              top: 0;
              left: 0;
              width: 50px;
              height: 50px;
              overflow: hidden;
            }
          }
        }

        .autoWrapper2 {
          display: flex;
          align-items: flex-start;
          align-self: stretch;
          justify-content: space-between;
          margin-top: 39px;
          padding-right: 97px;
          padding-left: 18px;

          .history {
            margin: 13px 0px 0px;
            line-height: 29px;
            letter-spacing: 0;
            color: #000000;
            font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 24px;
            font-weight: 700;
          }
        }

        .autoWrapper3 {
          display: flex;
          align-items: flex-start;
          align-self: stretch;
          justify-content: space-between;
          margin-top: 39px;
          padding-right: 1px;
          padding-left: 18px;

          .managamentUser {
            margin: 6px 0px 0px;
            width: 180px;
            letter-spacing: 0;
            color: #000000;
            font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 24px;
            font-weight: 700;
          }
        }

        .rectangle16 {
          position: relative;
          margin-top: 39px;
          border-radius: 15px;
          background: #ffffff;
          width: 270px;
          height: 69px;

          .tambahModulSystem {
            position: absolute;
            top: 6px;
            left: 89px;
            width: 180px;
            height: 58px;
            letter-spacing: 0;
            color: #000000;
            font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 24px;
            font-weight: 700;
          }

          .rectangle17 {
            display: flex;
            position: absolute;
            top: 0;
            left: 0;
            align-items: center;
            justify-content: space-between;
            border-radius: 15px;
            background: #ffffff;
            padding: 6px 1px 5px 18px;
            width: 270px;
            height: 69px;

            .integrasiSistem {
              width: 180px;
              letter-spacing: 0;
              color: #000000;
              font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 24px;
              font-weight: 700;
            }
          }
        }
      }

      .autoWrapper7 {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        align-self: stretch;

        .rectangle6 {
          display: flex;
          align-items: flex-start;
          align-self: stretch;
          background: #ffffff;
          padding: 45px 61px 39px 20px;

          .dashboardIntegrasiSi {
            margin: 11px 0px 0px;
            line-height: 29px;
            letter-spacing: 0;
            color: #000000;
            font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 24px;
            font-weight: 700;
          }

          .ionNotifcations {
            display: flex;
            align-items: flex-start;
            margin-left: 959px;
            padding-top: 1px;
            padding-left: 2px;
            width: 50px;
            height: 50px;
            overflow: hidden;

            .frame1 {
              width: 224px;
              height: 59px;
              overflow: hidden;
            }
          }

          .admin {
            margin: 10px 0px 0px 29px;
            width: 75px;
            height: 25px;
            letter-spacing: 0;
            color: #000000;
            font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 24px;
          }

          .group2 {
            margin-left: 19px;
            width: 46px;
            height: 46px;
          }
        }

        .rectangle42 {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          align-self: stretch;
          margin: 20px 30px 0px 20px;
          border-radius: 10px;
          background: #ffffff;
          padding: 47px 31px 47px 52px;

          .manajemenModulAplika {
            line-height: 39px;
            letter-spacing: 0;
            color: #000000;
            font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 32px;
            font-weight: 700;
          }

          .autoWrapper4 {
            display: flex;
            align-items: center;
            align-self: stretch;
            justify-content: space-between;
            margin-top: 19px;
            padding-right: 0;
            padding-left: 4px;

            .hapusModul {
              line-height: 24px;
              letter-spacing: 0;
              color: #000000;
              font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 20px;
              font-weight: 700;
            }

            .rectangle46 {
              display: flex;
              align-items: center;
              border-radius: 15px;
              background: #cd0d10;
              padding: 13px 154px 13px 137px;
            }

            .rectangle45 {
              display: flex;
              align-items: flex-start;
              border-radius: 15px;
              background: #0dcd4d;
              padding: 11px 176px 15px 175px;
            }

            .rectangle44 {
              display: flex;
              align-items: flex-start;
              justify-content: space-between;
              border-radius: 15px;
              background: #d9d9d9;
              padding: 0px 11px 2px 22px;
              width: 420px;
              min-width: 420px;

              .cariModul {
                margin: 13px 0px 0px;
                line-height: 24px;
                letter-spacing: 0;
                color: #000000;
                font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                font-size: 20px;
                font-weight: 700;
              }

              .icSharpSearch {
                width: 48px;
                height: 48px;
                overflow: hidden;
              }
            }
          }

          .rectangle47 {
            display: flex;
            align-items: flex-start;
            align-self: stretch;
            justify-content: space-between;
            margin: 37px 1px 0px 6px;
            border: 1px solid #000000;
            border-radius: 15px;
            background: #ffffff;
            padding: 25px 44px 23px 62px;
            min-width: 1472px;

            .vector2 {
              width: 25px;
              height: 25px;
            }

            .image3 {
              border-radius: 5px;
              width: 396px;
              height: 181px;
              background-image: url(../image/mkm781so-picokdz.png);
              background-position: center;
              background-size: cover;
              background-repeat: no-repeat;
              filter: drop-shadow(0px 4px 4px #00000040);
            }

            .rectangle54 {
              display: flex;
              align-items: flex-start;
              align-self: stretch;
              justify-content: space-between;
              margin: 23px 16px 0px 230px;
              border-radius: 10px;
              background: #30ff07;
              padding: 3px 11px 3px 38px;
              min-width: 150px;

              .visitSite {
                width: 74px;
                height: 22px;
                letter-spacing: 0;
                color: #000000;
                font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                font-size: 16px;
                font-weight: 700;
              }

              .iconParkGoOn {
                margin-top: 1px;
                width: 16px;
                height: 16px;
                overflow: hidden;
              }
            }

            .autoWrapper5 {
              position: relative;
              width: 430px;
              height: 610px;

              .rectangle51 {
                display: flex;
                position: absolute;
                top: 0;
                left: 0;
                flex-direction: column;
                align-items: flex-start;
                border: 1px solid #000000;
                border-radius: 5px;
                background: #ffffff;
                padding: 68px 16px 16px;
                width: 430px;
                height: 610px;

                .hCmsippgn {
                  margin: 6px 0px 0px 2px;
                  width: 164px;
                  height: 33px;
                  letter-spacing: 0;
                  color: #000000;
                  font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                  font-size: 24px;
                  font-weight: 700;
                }

                .platformDigitalTerin {
                  margin: 7px 0px 0px 2px;
                  width: 378px;
                  height: 245px;
                  text-align: justify;
                  letter-spacing: 0;
                  color: #000000;
                  font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                  font-size: 16px;
                }
              }

              .ellipse3 {
                display: flex;
                position: absolute;
                top: -7px;
                right: -12px;
                align-items: center;
                border-radius: 50%;
                background: #cd0d10;
                padding: 16px 16px 17px 17px;
                width: 58px;
                height: 58px;
              }
            }

            .autoWrapper6 {
              position: relative;
              margin-top: 4px;
              width: 430px;
              height: 607px;

              .rectangle512 {
                display: flex;
                position: absolute;
                top: 0;
                left: 0;
                flex-direction: column;
                align-items: flex-start;
                border: 1px solid #000000;
                border-radius: 5px;
                background: #ffffff;
                padding: 64px 16px 16px;
                width: 430px;
                height: 607px;

                .hCmsippgn2 {
                  margin: 9px 0px 0px 2px;
                  width: 164px;
                  height: 33px;
                  letter-spacing: 0;
                  color: #000000;
                  font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                  font-size: 24px;
                  font-weight: 700;
                }

                .platformDigitalTerin2 {
                  margin: 7px 0px 0px 2px;
                  width: 378px;
                  height: 243px;
                  text-align: justify;
                  letter-spacing: 0;
                  color: #000000;
                  font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                  font-size: 16px;
                }
              }

              .ellipse1 {
                display: flex;
                position: absolute;
                top: -11px;
                right: -10px;
                align-items: center;
                border-radius: 50%;
                background: #cd0d10;
                padding: 16px 16px 17px 17px;
                width: 58px;
                height: 58px;
              }
            }
          }
        }
      }
    }

    .managamentUser2 {
      position: absolute;
      top: 327px;
      left: 118px;
      width: 180px;
      height: 58px;
      letter-spacing: 0;
      color: #000000;
      font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 24px;
      font-weight: 700;
    }
  }

  .autoWrapper9 {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    padding-right: 0;
    padding-left: 0;

    .history2 {
      margin: 62px 0px 0px;
      line-height: 29px;
      letter-spacing: 0;
      color: #000000;
      font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 24px;
      font-weight: 700;
    }
  }
}
