* {
  box-sizing: border-box;
}

.manajemenUser {
  width: 204px;
  height: 35px;
  text-align: center;
  letter-spacing: 0;
  color: #000000;
  font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
  font-size: 24px;
  font-weight: 700;
}
