* {
  box-sizing: border-box;
}

.integrasiSystemTamba {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  padding: 167px 1162px 244px 115px;
  width: 1920px;
  height: 1170px;

  .autoWrapper6 {
    position: absolute;
    top: 0;
    left: 0;
    width: 1920px;
    height: 1170px;

    .rectangle18 {
      display: flex;
      position: absolute;
      top: 0;
      left: 0;
      align-items: flex-start;
      justify-content: space-between;
      background: #d9d9d9;
      width: 1920px;
      height: 1170px;

      .materialSymbolsHisto {
        width: 50px;
        height: 50px;
        overflow: hidden;
      }

      .rectangle13 {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        border-radius: 5px;
        background: #439df1;
        padding: 37px 9px 677px 29px;

        .logoPertaminaGasNega {
          margin-left: 25px;
          width: 200px;
          height: 60px;
        }

        .autoWrapper {
          display: flex;
          align-items: flex-start;
          align-self: stretch;
          justify-content: space-between;
          margin-top: 46px;
          padding-right: 86px;
          padding-left: 18px;

          .lineMdHomeTwotone {
            position: relative;
            width: 50px;
            height: 50px;
            overflow: hidden;

            .vector {
              position: absolute;
              top: 6px;
              left: 10px;
              width: 29px;
              height: 38px;
            }

            .group {
              position: absolute;
              top: 4px;
              left: 4px;
              width: 42px;
              height: 41px;
            }

            .materialSymbolsHomeR {
              position: absolute;
              top: 0;
              left: 0;
              width: 50px;
              height: 50px;
              overflow: hidden;
            }
          }

          .beranda {
            margin: 24px 0px 0px;
            width: 98px;
            height: 31px;
            letter-spacing: 0;
            color: #000000;
            font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 24px;
            font-weight: 700;
          }
        }

        .autoWrapper2 {
          display: flex;
          align-items: flex-start;
          align-self: stretch;
          justify-content: space-between;
          margin-top: 34px;
          padding-right: 97px;
          padding-left: 18px;

          .history {
            margin: 13px 0px 0px;
            line-height: 29px;
            letter-spacing: 0;
            color: #000000;
            font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 24px;
            font-weight: 700;
          }
        }

        .autoWrapper3 {
          display: flex;
          align-items: flex-start;
          align-self: stretch;
          justify-content: space-between;
          margin-top: 39px;
          padding-right: 1px;
          padding-left: 18px;

          .managamentUser {
            margin: 6px 0px 0px;
            width: 180px;
            letter-spacing: 0;
            color: #000000;
            font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 24px;
            font-weight: 700;
          }
        }

        .rectangle16 {
          position: relative;
          margin-top: 39px;
          border-radius: 15px;
          background: #ffffff;
          width: 270px;
          height: 69px;

          .tambahModulSystem {
            position: absolute;
            top: 6px;
            left: 89px;
            width: 180px;
            height: 58px;
            letter-spacing: 0;
            color: #000000;
            font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 24px;
            font-weight: 700;
          }

          .rectangle17 {
            display: flex;
            position: absolute;
            top: 0;
            left: 0;
            align-items: center;
            justify-content: space-between;
            border-radius: 15px;
            background: #ffffff;
            padding: 6px 1px 5px 18px;
            width: 270px;
            height: 69px;

            .integrasiSistem {
              width: 180px;
              letter-spacing: 0;
              color: #000000;
              font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 24px;
              font-weight: 700;
            }
          }
        }
      }

      .autoWrapper5 {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        align-self: stretch;

        .rectangle6 {
          display: flex;
          align-items: flex-start;
          align-self: stretch;
          background: #ffffff;
          padding: 45px 61px 47px 20px;

          .dashboardIntegrasiSi {
            margin: 11px 0px 0px;
            line-height: 29px;
            letter-spacing: 0;
            color: #000000;
            font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 24px;
            font-weight: 700;
          }

          .ionNotifcations {
            display: flex;
            align-items: flex-start;
            margin-left: 959px;
            padding-top: 1px;
            padding-left: 2px;
            width: 50px;
            height: 50px;
            overflow: hidden;

            .frame1 {
              width: 224px;
              height: 59px;
              overflow: hidden;
            }
          }

          .admin {
            margin: 15px 0px 0px 29px;
            width: 75px;
            height: 27px;
            letter-spacing: 0;
            color: #000000;
            font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 24px;
          }

          .group2 {
            margin-top: 4px;
            margin-left: 19px;
            width: 46px;
            height: 50px;
          }
        }

        .rectangle42 {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          align-self: stretch;
          margin: 9px 30px 0px 20px;
          border-radius: 10px;
          background: #ffffff;
          padding: 42px 42px 45px 48px;

          .autoWrapper4 {
            display: flex;
            align-items: center;
            align-self: stretch;
            justify-content: space-between;
            padding-right: 1025px;
            padding-left: 11px;

            .tambahModulAplikasi {
              line-height: 39px;
              letter-spacing: 0;
              color: #000000;
              font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 32px;
              font-weight: 700;
            }
          }

          .rectangle47 {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            align-self: stretch;
            margin-top: 28px;
            border: 1px solid #000000;
            border-radius: 15px;
            background: #ffffff;
            padding: 25px 528px 15px 35px;

            .contohBukuSakuDigita {
              opacity: 0.25;
              line-height: 24px;
              letter-spacing: 0;
              color: #000000;
              font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 20px;
              font-weight: 300;
            }

            .namaModulAplikasi {
              line-height: 29px;
              letter-spacing: 0;
              color: #000000;
              font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 24px;
              font-weight: 700;
            }

            .roundedRectangle {
              display: flex;
              align-items: center;
              align-self: stretch;
              margin-top: 9px;
              margin-right: 561px;
              border: 1px solid #000000;
              border-radius: 5px;
              background: #ffffff;
              padding: 8px 82px 8px 14px;
            }

            .deskripsiSingkat {
              margin: 18px 0px 0px;
              line-height: 29px;
              letter-spacing: 0;
              color: #000000;
              font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 24px;
              font-weight: 700;
            }

            .roundedRectangle2 {
              display: flex;
              align-items: flex-start;
              align-self: stretch;
              margin-top: 9px;
              border: 1px solid #000000;
              border-radius: 5px;
              background: #ffffff;
              padding: 8px 201px 134px 14px;
            }

            .targetUrlEndpoint {
              margin: 82px 0px 0px;
              line-height: 29px;
              letter-spacing: 0;
              color: #000000;
              font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 24px;
              font-weight: 700;
            }

            .roundedRectangle3 {
              display: flex;
              align-items: center;
              margin-top: 9px;
              border: 1px solid #000000;
              border-radius: 5px;
              background: #ffffff;
              padding: 8px 0px 8px 6px;

              .contohInternalEkster {
                opacity: 0.25;
                width: 747px;
                letter-spacing: 0;
                color: #000000;
                font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                font-size: 20px;
                font-weight: 300;
              }
            }

            .roundedRectangle4 {
              display: flex;
              flex-direction: column;
              align-items: flex-start;
              align-self: stretch;
              margin-top: 9px;
              margin-right: 561px;
              border: 1px solid #000000;
              border-radius: 5px;
              background: #ffffff;
              padding: 8px 186px 0px 6px;

              .newTabBlank {
                margin: 31px 0px 0px;
                line-height: 24px;
                letter-spacing: 0;
                color: #000000;
                font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                font-size: 20px;
              }
            }

            .ionSwitch {
              width: 48px;
              height: 48px;
              overflow: hidden;
            }

            .rectangle45 {
              display: flex;
              align-items: center;
              align-self: stretch;
              margin-top: 9px;
              margin-right: 657px;
              border-radius: 15px;
              background: #0dcd4d;
              padding: 13px 52px 13px 51px;

              .tambahModul {
                width: 147px;
                letter-spacing: 0;
                color: #000000;
                font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                font-size: 20px;
                font-weight: 700;
              }
            }
          }
        }
      }
    }

    .managamentUser2 {
      position: absolute;
      top: 327px;
      left: 118px;
      width: 180px;
      height: 58px;
      letter-spacing: 0;
      color: #000000;
      font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 24px;
      font-weight: 700;
    }
  }

  .autoWrapper9 {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    padding-right: 0;
    padding-left: 0;

    .beranda2 {
      width: 98px;
      height: 31px;
      letter-spacing: 0;
      color: #000000;
      font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 24px;
      font-weight: 700;
    }

    .history2 {
      margin: 47px 0px 0px;
      line-height: 29px;
      letter-spacing: 0;
      color: #000000;
      font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 24px;
      font-weight: 700;
    }

    .autoWrapper8 {
      position: relative;
      margin-top: 375px;
      margin-left: 297px;
      width: 346px;
      height: 277px;

      .gridiconsDropdown {
        position: absolute;
        top: 216px;
        left: 296px;
        width: 50px;
        height: 50px;
        overflow: hidden;
        rotate: -180deg;
      }

      .group12 {
        display: flex;
        position: absolute;
        top: 0;
        left: 0;
        flex-direction: column;
        align-items: center;
        padding-top: 4px;
        padding-right: 1px;
        width: 346px;
        height: 277px;

        .projectManagementOff {
          width: 259px;
          height: 12px;
          letter-spacing: 0;
          color: #000000;
          font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 20px;
        }

        .autoWrapper7 {
          position: relative;
          width: 346px;
          height: 38px;

          .roundedRectangle5 {
            display: flex;
            position: absolute;
            top: 0;
            left: 0;
            align-items: flex-start;
            border: 1px solid #000000;
            border-radius: 5px;
            background: #ffffff;
            padding: 8px 79px 16px 6px;
            width: 346px;
            height: 38px;
          }

          .gridiconsDropdown2 {
            position: absolute;
            bottom: -6px;
            left: 297px;
            width: 48px;
            height: 48px;
            overflow: hidden;
          }
        }

        .rectangle49 {
          display: flex;
          align-items: flex-start;
          align-self: stretch;
          margin: 211px 1px 0px;
          border-radius: 5px;
          background: #439df1;
          padding: 0px 79px 12px 7px;
        }
      }
    }
  }
}
