* {
  box-sizing: border-box;
}

.hakAkses {
  width: 169px;
  height: 47px;
  letter-spacing: 0;
  color: #000000;
  font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
  font-size: 25px;
  font-weight: 700;
}
