* {
  box-sizing: border-box;
}

.riwayatAdmin {
  position: relative;
  width: 1920px;
  height: 1080px;

  .rectangle132 {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    align-items: flex-start;
    justify-content: space-between;
    background: #d9d9d9;
    width: 1920px;
    height: 1080px;

    .rectangle13 {
      display: flex;
      position: relative;
      flex-direction: column;
      align-items: flex-start;
      border-radius: 5px;
      background: #439df1;
      padding: 55px 14px 585px 22px;

      .autoWrapper {
        position: absolute;
        top: 337px;
        left: 37px;
        width: 42px;
        height: 29px;

        .vector2 {
          display: flex;
          position: absolute;
          top: 0;
          left: 21px;
          align-items: center;
          width: 21px;
          height: 29px;
          background-image: url(../image/mkmako9t-4rrb4k8.svg);
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat;

          .vector {
            width: 21px;
            height: 29px;
          }
        }

        .vector4 {
          display: flex;
          position: absolute;
          top: 17px;
          left: 0;
          align-items: center;
          width: 29px;
          height: 13px;
          background-image: url(../image/mkmako9t-yo1dhs5.svg);
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat;

          .vector3 {
            width: 29px;
            height: 13px;
          }
        }
      }

      .autoWrapper5 {
        display: flex;
        position: relative;
        flex-direction: column;
        align-items: flex-start;
        align-self: stretch;
        padding-right: 0;
        padding-left: 0;

        .managamentUser {
          width: 180px;
          letter-spacing: 0;
          color: #000000;
          font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 24px;
          font-weight: 700;
        }

        .logoPertaminaGasNega {
          width: 200px;
          height: 60px;
        }

        .autoWrapper2 {
          display: flex;
          align-items: flex-start;
          align-self: stretch;
          justify-content: space-between;
          margin-top: 43px;
          padding-right: 100px;
          padding-left: 16px;

          .group2 {
            position: relative;
            width: 42px;
            height: 41px;
            background-image: url(../image/mkmako9t-k3rl19c.svg);
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;

            .vector5 {
              position: absolute;
              top: 2px;
              left: 6px;
              width: 29px;
              height: 38px;
            }

            .vector7 {
              display: flex;
              position: absolute;
              top: 3px;
              left: 4px;
              align-items: center;
              width: 33px;
              height: 36px;
              background-image: url(../image/mkmako9t-lgy3d9b.svg);
              background-position: center;
              background-size: cover;
              background-repeat: no-repeat;

              .vector6 {
                width: 33px;
                height: 36px;
              }
            }

            .group {
              display: flex;
              position: absolute;
              top: 0;
              left: 0;
              align-items: center;
              padding: 2px 6px 1px;
              width: 42px;
              height: 41px;
              background-image: url(../image/mkmako9t-k3rl19c.svg);
              background-position: center;
              background-size: cover;
              background-repeat: no-repeat;

              .vector8 {
                width: 29px;
                height: 38px;
              }
            }
          }

          .beranda {
            margin: 17px 0px 0px;
            line-height: 29px;
            letter-spacing: 0;
            color: #000000;
            font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 24px;
            font-weight: 700;
          }
        }

        .rectangle20 {
          display: flex;
          align-items: flex-start;
          align-self: stretch;
          justify-content: space-between;
          margin-top: 22px;
          margin-right: 2px;
          border-radius: 15px;
          background: #ffffff;
          padding: 15px 104px 15px 19px;
          min-width: 270px;

          .vector10 {
            display: flex;
            align-items: center;
            background-image: url(../image/mkmako9t-bl2felh.svg);
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;

            .vector9 {
              width: 38px;
              height: 38px;
            }
          }

          .history {
            margin: 10px 0px 0px;
            line-height: 29px;
            letter-spacing: 0;
            color: #000000;
            font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 24px;
            font-weight: 700;
          }
        }

        .autoWrapper3 {
          display: flex;
          align-items: flex-start;
          align-self: stretch;
          justify-content: space-between;
          margin-top: 31px;
          padding-right: 24px;
          padding-left: 15px;

          .majesticonsUsers {
            width: 50px;
            height: 50px;
            overflow: hidden;
          }
        }

        .autoWrapper4 {
          display: flex;
          align-items: center;
          align-self: stretch;
          justify-content: space-between;
          margin-top: 53px;
          padding-right: 0;
          padding-left: 16px;

          .vector11 {
            width: 46px;
            height: 46px;
          }
        }
      }
    }

    .autoWrapper13 {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      align-self: stretch;

      .rectangle6 {
        display: flex;
        align-items: flex-start;
        align-self: stretch;
        justify-content: space-between;
        border-radius: 10px;
        background: #ffffff;
        padding: 44px 30px 44px 32px;
        min-width: 1612px;

        .berandaHistory {
          margin: 4px 0px 0px;
          line-height: 29px;
          letter-spacing: 0;
          color: #000000;
          font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 24px;
          font-weight: 700;
        }

        .group32 {
          display: flex;
          align-items: center;

          .vector12 {
            width: 38px;
            height: 44px;
          }

          .admin {
            margin: 0px 0px 0px 35px;
            width: 76px;
            height: 26px;
            letter-spacing: 0;
            color: #000000;
            font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 24px;
          }

          .group3 {
            margin-left: 20px;
            width: 46px;
            height: 46px;
          }
        }
      }

      .group11 {
        display: flex;
        align-items: center;
        align-self: stretch;
        margin-left: 4px;
        padding: 10px;

        .group4 {
          display: flex;
          flex-grow: 1;
          align-items: flex-start;
          border-radius: 10px;
          background: #ffffff;
          padding: 53px 125px 423px 69px;

          .falihQaqc3 {
            margin: 77px 0px 0px 2px;
            padding: 10px;
            line-height: 29px;
            letter-spacing: 0;
            color: #000000;
            font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 24px;
            font-weight: 700;
          }

          .falihQaqc2 {
            margin: 77px 0px 0px 1px;
            padding: 10px;
            line-height: 29px;
            letter-spacing: 0;
            color: #000000;
            font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 24px;
            font-weight: 700;
          }

          .falihQaqc {
            margin: 50px 0px 0px;
            padding: 10px;
            line-height: 29px;
            letter-spacing: 0;
            color: #000000;
            font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 24px;
            font-weight: 700;
          }

          .autoWrapper7 {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            align-self: stretch;

            .autoWrapper6 {
              position: relative;
              margin-left: 10px;
              width: 197px;
              height: 29px;

              .tanggalWaktu {
                position: absolute;
                top: 0;
                left: 0;
                width: 197px;
                height: 29px;
                line-height: 29px;
                letter-spacing: 0;
                color: #000000;
                font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                font-size: 24px;
                font-weight: 700;
              }
            }

            .a19012026143005 {
              margin: 50px 0px 0px;
              padding: 10px 0px;
              width: 273px;
              height: 49px;
              text-align: center;
              line-height: 29px;
              letter-spacing: 0;
              color: #000000;
              font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 24px;
              font-weight: 700;
            }

            .a190120261430052 {
              margin: 77px 0px 0px 1px;
              padding: 10px 0px;
              width: 273px;
              height: 49px;
              text-align: center;
              line-height: 29px;
              letter-spacing: 0;
              color: #000000;
              font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 24px;
              font-weight: 700;
            }

            .a190120261430053 {
              margin: 77px 0px 0px 2px;
              padding: 10px 0px;
              width: 273px;
              height: 49px;
              text-align: center;
              line-height: 29px;
              letter-spacing: 0;
              color: #000000;
              font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 24px;
              font-weight: 700;
            }
          }

          .autoWrapper8 {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            align-self: stretch;
            margin-left: 10px;

            .user {
              margin: 0px 0px 0px 59px;
              line-height: 29px;
              letter-spacing: 0;
              color: #000000;
              font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 24px;
              font-weight: 700;
            }
          }

          .autoWrapper9 {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            align-self: stretch;
            margin-left: 22px;

            .namaModul {
              margin: 0px 0px 0px 35px;
              line-height: 29px;
              letter-spacing: 0;
              color: #000000;
              font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 24px;
              font-weight: 700;
            }
          }

          .autoWrapper10 {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            align-self: stretch;
            margin-left: 22px;

            .uploadModulRekapKeua {
              flex-shrink: 0;
              width: 175px;
              text-align: center;
              letter-spacing: 0;
              color: #000000;
              font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 24px;
              font-weight: 700;
            }

            .jenisAktivitas {
              margin: 0px 0px 0px 10px;
              line-height: 29px;
              letter-spacing: 0;
              color: #000000;
              font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 24px;
              font-weight: 700;
            }

            .cell {
              display: inline-flex;
              align-items: center;
              align-self: stretch;
              justify-content: center;
              column-gap: 10px;
              margin-top: 50px;
              margin-right: 2px;
              padding: 10px;
            }

            .cell2 {
              display: inline-flex;
              align-items: center;
              align-self: stretch;
              justify-content: center;
              column-gap: 10px;
              margin: 19px 1px 0px;
              padding: 10px;
            }

            .cell3 {
              display: inline-flex;
              align-items: center;
              align-self: stretch;
              justify-content: center;
              column-gap: 10px;
              margin-top: 19px;
              margin-left: 2px;
              padding: 10px;
            }
          }

          .autoWrapper11 {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            align-self: stretch;
            margin-left: 28px;

            .statusSistem {
              margin: 0px 0px 0px 26px;
              line-height: 29px;
              letter-spacing: 0;
              color: #000000;
              font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 24px;
              font-weight: 700;
            }

            .success {
              margin: 50px 0px 0px 47px;
              padding: 10px;
              line-height: 29px;
              letter-spacing: 0;
              color: #000000;
              font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 24px;
              font-weight: 700;
            }

            .warningFlagged {
              margin: 77px 0px 0px;
              padding: 10px;
              line-height: 29px;
              letter-spacing: 0;
              color: #000000;
              font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 24px;
              font-weight: 700;
            }

            .failed {
              margin: 77px 0px 0px 62px;
              padding: 10px;
              line-height: 29px;
              letter-spacing: 0;
              color: #000000;
              font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 24px;
              font-weight: 700;
            }
          }

          .autoWrapper12 {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            align-self: stretch;
            margin-left: 44px;

            .summaryHasil {
              line-height: 29px;
              letter-spacing: 0;
              color: #000000;
              font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 24px;
              font-weight: 700;
            }

            .modulBerhasilTeringr {
              margin: 60px 0px 0px;
              width: 177px;
              letter-spacing: 0;
              color: #000000;
              font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 24px;
              font-weight: 700;
            }

            .a15ItemsFound2Invali {
              margin: 68px 0px 0px;
              width: 179px;
              letter-spacing: 0;
              color: #000000;
              font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 24px;
              font-weight: 700;
            }

            .gagalMengintegrasika {
              margin: 39px 0px 0px;
              width: 179px;
              letter-spacing: 0;
              color: #000000;
              font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 24px;
              font-weight: 700;
            }
          }
        }
      }
    }
  }

  .beranda2 {
    position: absolute;
    top: 175px;
    left: 96px;
    width: 98px;
    height: 29px;
    line-height: 29px;
    letter-spacing: 0;
    color: #000000;
    font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: 700;
  }

  .managamentUser2 {
    position: absolute;
    top: 326px;
    left: 90px;
    width: 180px;
    height: 58px;
    letter-spacing: 0;
    color: #000000;
    font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: 700;
  }
}
