* {
  box-sizing: border-box;
}

.tambahUserBaru {
  width: 191px;
  height: 41px;
  letter-spacing: 0;
  color: #ffffff;
  font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
  font-size: 20px;
}
