* {
  box-sizing: border-box;
}

.mengklikTombolNotifU {
  position: relative;
  width: 1920px;
  height: 1080px;

  .rectangle182 {
    position: absolute;
    top: 0;
    left: 0;
    background: #d9d9d9;
    width: 1920px;
    height: 1080px;

    .rectangle6 {
      display: flex;
      position: absolute;
      top: 0;
      left: 302px;
      align-items: flex-start;
      background: #ffffff;
      padding: 45px 57px 39px 1338px;
      width: 1614px;
      height: 134px;

      .ionNotifcations {
        display: flex;
        align-items: flex-start;
        padding-top: 1px;
        padding-left: 2px;
        width: 50px;
        height: 50px;
        overflow: hidden;

        .frame1 {
          width: 224px;
          height: 59px;
          overflow: hidden;
        }
      }

      .user {
        margin: 10px 0px 0px 29px;
        width: 75px;
        height: 25px;
        letter-spacing: 0;
        color: #000000;
        font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 24px;
      }

      .group {
        margin-left: 19px;
        width: 46px;
        height: 46px;
      }
    }

    .group11 {
      display: flex;
      position: absolute;
      top: 134px;
      left: 312px;
      align-items: center;
      padding: 10px;
      width: 1608px;
      height: 934px;

      .rectangle16 {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        align-items: flex-start;
        border-radius: 10px;
        background: #ffffff;
        padding: 30px 583px 75px 35px;

        .selamatDatangUser {
          width: 406px;
          height: 54px;
          letter-spacing: 0;
          color: #000000;
          font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 36px;
          font-weight: 600;
        }

        .autoWrapper {
          display: flex;
          align-items: flex-start;
          align-self: stretch;
          justify-content: space-between;
          margin-top: 118px;
          padding-right: 113px;
          padding-left: 92px;

          .rectangle18 {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            border-radius: 15px;
            background: #0643fb;
            padding: 5px 26px 8px 25px;
            width: 222px;
            min-width: 222px;

            .mdiBookOpenVariantOu {
              width: 30px;
              height: 30px;
              overflow: hidden;
            }

            .bukuSaku {
              margin: 2px 0px 0px;
              width: 136px;
              height: 34px;
              letter-spacing: 0;
              color: #ffffff;
              font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 24px;
              font-weight: 700;
            }
          }

          .rectangle41 {
            display: flex;
            align-items: flex-start;
            margin-top: 3px;
            border-radius: 15px;
            background: #30ff07;
            padding: 7px 15px 13px 16px;

            .riwayatTerbaru {
              line-height: 29px;
              letter-spacing: 0;
              color: #ffffff;
              font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 24px;
              font-weight: 700;
            }
          }
        }

        .autoWrapper2 {
          display: flex;
          align-items: center;
          align-self: stretch;
          justify-content: space-between;
          margin-top: 10px;
          padding-right: 0;
          padding-left: 18px;

          .rectangle36 {
            display: flex;
            align-items: flex-start;
            background: #fcf9f9;
            padding: 27px 152px 164px 35px;

            .penjelasanDetailMeng {
              width: 261px;
              height: 384px;
              letter-spacing: 0;
              color: #000000;
              font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 24px;
              font-weight: 700;
            }
          }

          .rectangle40 {
            display: flex;
            align-items: flex-start;
            background: #fcf9f9;
            padding: 27px 64px 198px 40px;

            .riwayatTerbaruMengen {
              width: 344px;
              height: 350px;
              letter-spacing: 0;
              color: #000000;
              font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 24px;
              font-weight: 700;
            }
          }
        }
      }
    }

    .whatsAppImage2026011 {
      position: absolute;
      top: 61px;
      left: 1261px;
      width: 360px;
      height: 489px;
    }
  }

  .rectangle13 {
    display: flex;
    position: absolute;
    top: 0;
    left: -6px;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 5px;
    background: #439df1;
    padding: 37px 25px 810px 13px;
    width: 308px;
    height: 1080px;

    .logoPertaminaGasNega {
      margin-left: 47px;
      width: 200px;
      height: 60px;
    }

    .rectangle162 {
      display: flex;
      align-items: flex-start;
      align-self: stretch;
      justify-content: space-between;
      margin-top: 37px;
      border-radius: 15px;
      background: #ffffff;
      padding: 8px 86px 11px 18px;
      min-width: 270px;

      .lineMdHomeTwotone {
        position: relative;
        width: 50px;
        height: 50px;
        overflow: hidden;

        .vector {
          position: absolute;
          top: 6px;
          left: 10px;
          width: 29px;
          height: 38px;
        }

        .group2 {
          position: absolute;
          top: 4px;
          left: 4px;
          width: 42px;
          height: 41px;
        }

        .materialSymbolsHomeR {
          position: absolute;
          top: 0;
          left: 0;
          width: 50px;
          height: 50px;
          overflow: hidden;
        }
      }

      .beranda {
        margin: 11px 0px 0px;
        line-height: 29px;
        letter-spacing: 0;
        color: #000000;
        font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 24px;
        font-weight: 700;
      }
    }

    .autoWrapper4 {
      display: flex;
      align-items: flex-start;
      align-self: stretch;
      justify-content: space-between;
      margin-top: 14px;
      padding-right: 92px;
      padding-left: 22px;

      .mdiAccountEyeOutline {
        display: flex;
        align-items: flex-start;
        padding: 11px 14px 4px 1px;
        overflow: hidden;

        .vector2 {
          width: 38px;
          height: 38px;
        }
      }

      .autoWrapper3 {
        position: relative;
        margin-top: 20px;
        width: 87px;
        height: 29px;

        .history {
          position: absolute;
          top: 0;
          left: 0;
          width: 87px;
          height: 29px;
          line-height: 29px;
          letter-spacing: 0;
          color: #000000;
          font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 24px;
          font-weight: 700;
        }

        .history2 {
          position: absolute;
          bottom: -1px;
          left: -1px;
          width: 87px;
          height: 29px;
          line-height: 29px;
          letter-spacing: 0;
          color: #000000;
          font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 24px;
          font-weight: 700;
        }
      }
    }
  }

  .beranda2 {
    position: absolute;
    top: 153px;
    left: 93px;
    width: 98px;
    height: 29px;
    line-height: 29px;
    letter-spacing: 0;
    color: #000000;
    font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: 700;
  }
}
