* {
  box-sizing: border-box;
}

.olegLaptev7JQh3EiS8B {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  padding: 265px 518px 264px 517px;
  width: 1920px;
  height: 1080px;
  background-image: url(../image/mkmakopc-7yvl1l5.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  .rectangle4 {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: flex-start;
    border-radius: 15px;
    box-shadow: 0px 4px 10px 10px #00000040;
    background: #ffffff;
    padding: 31px 46px 57px 24px;

    .logoPertaminaGasNega {
      width: 200px;
      height: 60px;
    }

    .welcomeWhatSYourEmai {
      margin: 32px 0px 0px;
      width: 443px;
      letter-spacing: 0;
      color: #000000;
      font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 36px;
      font-weight: 800;
    }

    .username {
      margin: 8px 0px 0px;
      line-height: 24px;
      letter-spacing: 0;
      color: #000000;
      font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 20px;
    }

    .rectangle7 {
      margin-top: 8px;
      border: 1px solid #000000;
      border-radius: 5px;
      background: #ffffff;
      width: 815px;
      height: 50px;
    }

    .password {
      margin: 21px 0px 0px;
      line-height: 24px;
      letter-spacing: 0;
      color: #000000;
      font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 20px;
    }

    .rectangle9 {
      display: flex;
      align-items: center;
      align-self: stretch;
      margin-top: 40px;
      margin-right: 665px;
      border: 1px solid #000000;
      border-radius: 5px;
      background: #0492ff;
      padding: 12px 48px;

      .login {
        line-height: 24px;
        letter-spacing: 0;
        color: #000000;
        font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 20px;
      }
    }
  }
}
