* {
  box-sizing: border-box;
}

.integrasiSystemTamba {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  padding: 163px 1707px 869px 115px;
  width: 1920px;
  height: 1143px;

  .rectangle18 {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    align-items: flex-start;
    justify-content: space-between;
    background: #d9d9d9;
    width: 1920px;
    height: 1143px;

    .materialSymbolsHisto {
      width: 50px;
      height: 50px;
      overflow: hidden;
    }

    .rectangle13 {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      border-radius: 5px;
      background: #439df1;
      padding: 37px 9px 741px 29px;

      .logoPertaminaGasNega {
        margin-left: 25px;
        width: 200px;
        height: 60px;
      }

      .autoWrapper {
        display: flex;
        align-items: flex-start;
        align-self: stretch;
        justify-content: space-between;
        margin-top: 46px;
        padding-right: 86px;
        padding-left: 18px;

        .lineMdHomeTwotone {
          position: relative;
          width: 50px;
          height: 50px;
          overflow: hidden;

          .vector {
            position: absolute;
            top: 6px;
            left: 10px;
            width: 29px;
            height: 38px;
          }

          .group {
            position: absolute;
            top: 4px;
            left: 4px;
            width: 42px;
            height: 41px;
          }

          .materialSymbolsHomeR {
            position: absolute;
            top: 0;
            left: 0;
            width: 50px;
            height: 50px;
            overflow: hidden;
          }
        }

        .beranda {
          margin: 20px 0px 0px;
          width: 98px;
          height: 31px;
          letter-spacing: 0;
          color: #000000;
          font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 24px;
          font-weight: 700;
        }
      }

      .autoWrapper2 {
        display: flex;
        align-items: flex-start;
        align-self: stretch;
        justify-content: space-between;
        margin-top: 38px;
        padding-right: 97px;
        padding-left: 18px;

        .history {
          margin: 13px 0px 0px;
          line-height: 29px;
          letter-spacing: 0;
          color: #000000;
          font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 24px;
          font-weight: 700;
        }
      }

      .rectangle16 {
        position: relative;
        margin-top: 51px;
        border-radius: 15px;
        background: #ffffff;
        width: 270px;
        height: 69px;

        .tambahModulSystem {
          position: absolute;
          top: 6px;
          left: 89px;
          width: 180px;
          height: 58px;
          letter-spacing: 0;
          color: #000000;
          font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 24px;
          font-weight: 700;
        }

        .rectangle17 {
          display: flex;
          position: absolute;
          top: 0;
          left: 0;
          align-items: center;
          justify-content: space-between;
          border-radius: 15px;
          background: #ffffff;
          padding: 6px 1px 5px 20px;
          width: 270px;
          height: 69px;

          .vector2 {
            width: 46px;
            height: 46px;
          }

          .integrasiSistem {
            width: 180px;
            letter-spacing: 0;
            color: #000000;
            font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 24px;
            font-weight: 700;
          }
        }
      }
    }

    .autoWrapper6 {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      align-self: stretch;

      .rectangle6 {
        display: flex;
        position: relative;
        align-items: flex-start;
        align-self: stretch;
        background: #ffffff;
        padding: 49px 71px 49px 20px;

        .group2 {
          position: absolute;
          top: 48px;
          left: 1536px;
          width: 46px;
          height: 46px;
        }

        .autoWrapper3 {
          display: flex;
          position: relative;
          align-items: flex-start;
          align-self: stretch;

          .dashboardIntegrasiSi {
            margin: 7px 0px 0px;
            line-height: 29px;
            letter-spacing: 0;
            color: #000000;
            font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 24px;
            font-weight: 700;
          }

          .vector3 {
            margin-left: 977px;
            width: 38px;
            height: 44px;
          }

          .supervisor {
            margin: 7px 0px 0px 18px;
            width: 135px;
            height: 25px;
            letter-spacing: 0;
            color: #000000;
            font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 24px;
          }
        }
      }

      .rectangle42 {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        align-self: stretch;
        margin: 12px 30px 0px 20px;
        border-radius: 10px;
        background: #ffffff;
        padding: 42px 42px 39px 48px;

        .autoWrapper4 {
          display: flex;
          align-items: center;
          align-self: stretch;
          justify-content: space-between;
          padding-right: 1025px;
          padding-left: 11px;

          .tambahModulAplikasi {
            line-height: 39px;
            letter-spacing: 0;
            color: #000000;
            font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 32px;
            font-weight: 700;
          }
        }

        .rectangle47 {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          align-self: stretch;
          margin-top: 28px;
          border: 1px solid #000000;
          border-radius: 15px;
          background: #ffffff;
          padding: 25px 528px 18px 35px;

          .contohBukuSakuDigita {
            opacity: 0.25;
            line-height: 24px;
            letter-spacing: 0;
            color: #000000;
            font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 20px;
            font-weight: 300;
          }

          .namaModulAplikasi {
            line-height: 29px;
            letter-spacing: 0;
            color: #000000;
            font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 24px;
            font-weight: 700;
          }

          .roundedRectangle {
            display: flex;
            align-items: center;
            align-self: stretch;
            margin-top: 9px;
            margin-right: 561px;
            border: 1px solid #000000;
            border-radius: 5px;
            background: #ffffff;
            padding: 8px 82px 8px 14px;
          }

          .deskripsiSingkat {
            margin: 18px 0px 0px;
            line-height: 29px;
            letter-spacing: 0;
            color: #000000;
            font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 24px;
            font-weight: 700;
          }

          .roundedRectangle2 {
            display: flex;
            align-items: flex-start;
            align-self: stretch;
            margin-top: 9px;
            border: 1px solid #000000;
            border-radius: 5px;
            background: #ffffff;
            padding: 8px 201px 134px 14px;
          }

          .autoWrapper5 {
            position: relative;
            margin-top: 9px;
            width: 346px;
            height: 42px;

            .roundedRectangle3 {
              position: absolute;
              top: 0;
              left: 0;
              border: 1px solid #000000;
              border-radius: 5px;
              background: #ffffff;
              width: 346px;
              height: 42px;
            }

            .gridiconsDropdown {
              position: absolute;
              bottom: -4px;
              left: 296px;
              width: 50px;
              height: 50px;
              overflow: hidden;
            }
          }

          .targetUrlEndpoint {
            margin: 31px 0px 0px;
            line-height: 29px;
            letter-spacing: 0;
            color: #000000;
            font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 24px;
            font-weight: 700;
          }

          .roundedRectangle4 {
            display: flex;
            align-items: center;
            margin-top: 9px;
            border: 1px solid #000000;
            border-radius: 5px;
            background: #ffffff;
            padding: 8px 0px 8px 6px;

            .contohInternalEkster {
              opacity: 0.25;
              width: 747px;
              letter-spacing: 0;
              color: #000000;
              font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 20px;
              font-weight: 300;
            }
          }

          .ionSwitch {
            width: 48px;
            height: 48px;
            overflow: hidden;
          }

          .rectangle45 {
            display: flex;
            align-items: center;
            align-self: stretch;
            margin-top: 9px;
            margin-right: 657px;
            border-radius: 15px;
            background: #0dcd4d;
            padding: 13px 52px 13px 51px;

            .tambahModul {
              width: 147px;
              letter-spacing: 0;
              color: #000000;
              font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 20px;
              font-weight: 700;
            }
          }
        }
      }
    }
  }

  .autoWrapper7 {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    padding-right: 0;
    padding-left: 0;

    .beranda2 {
      width: 98px;
      height: 31px;
      letter-spacing: 0;
      color: #000000;
      font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 24px;
      font-weight: 700;
    }

    .history2 {
      margin: 51px 0px 0px;
      line-height: 29px;
      letter-spacing: 0;
      color: #000000;
      font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 24px;
      font-weight: 700;
    }
  }
}
