* {
  box-sizing: border-box;
}

.dashboardSupervisor {
  position: relative;
  width: 1920px;
  height: 1080px;

  .group {
    width: 46px;
    height: 46px;
  }

  .rectangle182 {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    flex-direction: column;
    align-items: flex-start;
    background: #d9d9d9;
    padding-bottom: 12px;
    padding-left: 302px;
    width: 1920px;
    height: 1080px;

    .rectangle6 {
      display: flex;
      align-items: flex-start;
      align-self: stretch;
      justify-content: space-between;
      margin-right: 4px;
      background: #ffffff;
      padding: 45px 57px 39px 1320px;
      min-width: 1614px;

      .ionNotifcations {
        display: flex;
        align-items: flex-start;
        padding-top: 1px;
        padding-left: 2px;
        width: 50px;
        height: 50px;
        overflow: hidden;

        .frame1 {
          width: 224px;
          height: 59px;
          overflow: hidden;
        }
      }

      .supervisor {
        margin: 10px 0px 0px;
        width: 135px;
        height: 25px;
        letter-spacing: 0;
        color: #000000;
        font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 24px;
      }
    }

    .group11 {
      display: flex;
      align-items: center;
      align-self: stretch;
      margin-left: 10px;
      padding: 10px;

      .rectangle16 {
        display: flex;
        flex-grow: 1;
        align-items: flex-start;
        border-radius: 10px;
        background: #ffffff;
        padding: 30px 21px 75px 35px;

        .listPengawasYangSeda {
          width: 344px;
          height: 350px;
          letter-spacing: 0;
          color: #000000;
          font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 24px;
          font-weight: 700;
        }

        .autoWrapper {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          align-self: stretch;

          .selamatDatangSupervi {
            width: 551px;
            height: 54px;
            letter-spacing: 0;
            color: #000000;
            font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 36px;
            font-weight: 600;
          }

          .rectangle18 {
            display: flex;
            align-items: flex-start;
            align-self: stretch;
            justify-content: space-between;
            margin: 118px 237px 0px 92px;
            border-radius: 15px;
            background: #0643fb;
            padding: 5px 26px 8px 25px;
            min-width: 222px;

            .mdiBookOpenVariantOu {
              width: 30px;
              height: 30px;
              overflow: hidden;
            }

            .bukuSaku {
              margin: 2px 0px 0px;
              width: 136px;
              height: 34px;
              letter-spacing: 0;
              color: #ffffff;
              font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 24px;
              font-weight: 700;
            }
          }

          .rectangle36 {
            display: flex;
            align-items: flex-start;
            align-self: stretch;
            margin: 13px 85px 0px 18px;
            background: #fcf9f9;
            padding: 27px 152px 164px 35px;

            .penjelasanDetailMeng {
              width: 261px;
              height: 384px;
              letter-spacing: 0;
              color: #000000;
              font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 24px;
              font-weight: 700;
            }
          }
        }

        .autoWrapper2 {
          display: flex;
          position: relative;
          flex-direction: column;
          align-items: flex-start;
          align-self: stretch;
          margin-top: 175px;

          .rectangle38 {
            margin-left: 90px;
            border-radius: 15px;
            background: #fb060a;
            width: 222px;
            height: 49px;
          }

          .rectangle39 {
            display: flex;
            align-items: flex-start;
            align-self: stretch;
            margin-top: 10px;
            background: #fcf9f9;
            padding: 27px 79px 198px 25px;
          }

          .listPengawas {
            position: absolute;
            top: 7px;
            left: 113px;
            width: 208px;
            height: 34px;
            letter-spacing: 0;
            color: #ffffff;
            font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 24px;
            font-weight: 700;
          }
        }

        .autoWrapper3 {
          display: flex;
          flex-direction: column;
          align-items: center;
          align-self: stretch;
          margin-top: 175px;
          margin-left: 85px;

          .rectangle41 {
            display: flex;
            align-items: flex-start;
            align-self: stretch;
            margin-right: 113px;
            margin-left: 113px;
            border-radius: 15px;
            background: #30ff07;
            padding: 7px 15px 13px 16px;

            .riwayatTerbaru {
              line-height: 29px;
              letter-spacing: 0;
              color: #ffffff;
              font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 24px;
              font-weight: 700;
            }
          }

          .rectangle40 {
            display: flex;
            align-items: flex-start;
            align-self: stretch;
            margin-top: 10px;
            background: #fcf9f9;
            padding: 27px 64px 198px 40px;
          }
        }
      }
    }
  }

  .rectangle13 {
    display: flex;
    position: absolute;
    top: 0;
    left: -6px;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 5px;
    background: #439df1;
    padding: 37px 13px 721px;
    width: 308px;
    height: 1080px;

    .logoPertaminaGasNega {
      margin-left: 47px;
      width: 200px;
      height: 60px;
    }

    .rectangle162 {
      display: flex;
      align-items: flex-start;
      align-self: stretch;
      justify-content: space-between;
      margin-top: 37px;
      margin-right: 12px;
      border-radius: 15px;
      background: #ffffff;
      padding: 8px 86px 11px 18px;
      min-width: 270px;

      .lineMdHomeTwotone {
        position: relative;
        width: 50px;
        height: 50px;
        overflow: hidden;

        .vector {
          position: absolute;
          top: 6px;
          left: 10px;
          width: 29px;
          height: 38px;
        }

        .group2 {
          position: absolute;
          top: 4px;
          left: 4px;
          width: 42px;
          height: 41px;
        }

        .materialSymbolsHomeR {
          position: absolute;
          top: 0;
          left: 0;
          width: 50px;
          height: 50px;
          overflow: hidden;
        }
      }

      .beranda {
        margin: 11px 0px 0px;
        line-height: 29px;
        letter-spacing: 0;
        color: #000000;
        font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 24px;
        font-weight: 700;
      }
    }

    .autoWrapper5 {
      display: flex;
      align-items: flex-start;
      align-self: stretch;
      justify-content: space-between;
      margin-top: 25px;
      padding-right: 107px;
      padding-left: 20px;

      .vector2 {
        width: 38px;
        height: 38px;
      }

      .autoWrapper4 {
        position: relative;
        margin-top: 9px;
        width: 87px;
        height: 29px;

        .history {
          position: absolute;
          top: 0;
          left: 0;
          width: 87px;
          height: 29px;
          line-height: 29px;
          letter-spacing: 0;
          color: #000000;
          font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 24px;
          font-weight: 700;
        }

        .history2 {
          position: absolute;
          bottom: -1px;
          left: -1px;
          width: 87px;
          height: 29px;
          line-height: 29px;
          letter-spacing: 0;
          color: #000000;
          font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 24px;
          font-weight: 700;
        }
      }
    }

    .autoWrapper6 {
      display: flex;
      align-items: center;
      align-self: stretch;
      justify-content: space-between;
      margin-top: 35px;
      padding-right: 0;
      padding-left: 26px;

      .vector3 {
        display: flex;
        align-items: center;
        background-image: url(../image/mkmako9d-sghyra3.svg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
      }

      .integrasiSistem {
        width: 180px;
        letter-spacing: 0;
        color: #000000;
        font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 24px;
        font-weight: 700;
      }
    }
  }

  .beranda2 {
    position: absolute;
    top: 153px;
    left: 93px;
    width: 98px;
    height: 29px;
    line-height: 29px;
    letter-spacing: 0;
    color: #000000;
    font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: 700;
  }

  .integrasiSistem2 {
    position: absolute;
    top: 301px;
    left: 109px;
    width: 180px;
    height: 58px;
    letter-spacing: 0;
    color: #000000;
    font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: 700;
  }
}
