* {
  box-sizing: border-box;
}

.active {
  width: 77px;
  height: 40px;
  letter-spacing: 0;
  color: #000000;
  font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 700;
}
