* {
  box-sizing: border-box;
}

.adminMengeklikCariUs {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  border: 1px solid #000000;
  padding: 151px 1627px 605px 86px;
  width: 1920px;
  height: 1080px;

  .autoWrapper4 {
    position: absolute;
    top: -1px;
    left: -1px;
    width: 1920px;
    height: 1091px;

    .halamanAdmin {
      display: flex;
      position: absolute;
      top: 0;
      left: 0;
      align-items: flex-start;
      justify-content: space-between;
      background: #e5e4e4;
      padding-right: 4px;
      width: 1920px;
      height: 1091px;

      .rectangle5 {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        background: #439df1;
        padding: 44px 16px 617px 10px;

        .materialSymbolsHisto {
          width: 50px;
          height: 50px;
          overflow: hidden;
        }

        .logoPertaminaGasNega {
          margin-left: 25px;
          width: 200px;
          height: 60px;
        }

        .autoWrapper {
          display: flex;
          align-items: flex-start;
          align-self: stretch;
          justify-content: space-between;
          margin-top: 30px;
          padding-right: 98px;
          padding-left: 25px;

          .lineMdHomeTwotone {
            position: relative;
            width: 50px;
            height: 50px;
            overflow: hidden;

            .vector {
              position: absolute;
              top: 6px;
              left: 10px;
              width: 29px;
              height: 38px;
            }

            .group {
              position: absolute;
              top: 4px;
              left: 4px;
              width: 42px;
              height: 41px;
            }

            .materialSymbolsHomeR {
              position: absolute;
              top: 0;
              left: 0;
              width: 50px;
              height: 50px;
              overflow: hidden;
            }
          }

          .beranda {
            margin: 18px 0px 0px;
            line-height: 29px;
            letter-spacing: 0;
            color: #000000;
            font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 24px;
            font-weight: 700;
          }
        }

        .autoWrapper2 {
          display: flex;
          align-items: flex-start;
          align-self: stretch;
          justify-content: space-between;
          margin-top: 48px;
          padding-right: 109px;
          padding-left: 22px;

          .materialSymbolsHisto2 {
            display: flex;
            align-items: center;
            overflow: hidden;
            background-image: url(../image/mkmaknqs-ia5xdt8.svg);
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
          }

          .history {
            margin: 3px 0px 0px;
            line-height: 29px;
            letter-spacing: 0;
            color: #000000;
            font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 24px;
            font-weight: 700;
          }
        }

        .rectangle23 {
          display: flex;
          align-items: center;
          align-self: stretch;
          margin-top: 34px;
          margin-right: 12px;
          border-radius: 15px;
          background: #ffffff;

          .rectangle24 {
            display: flex;
            flex-grow: 1;
            align-items: flex-start;
            justify-content: space-between;
            border-radius: 15px;
            background: #ffffff;
            padding: 7px 13px 4px 20px;
            width: 270px;
            min-width: 270px;

            .majesticonsUsers {
              display: flex;
              align-items: center;
              margin-top: 1px;
              overflow: hidden;
              background-image: url(../image/mkmaknqs-5ppbur6.svg);
              background-position: center;
              background-size: cover;
              background-repeat: no-repeat;
            }

            .managamentUser {
              width: 180px;
              letter-spacing: 0;
              color: #000000;
              font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 24px;
              font-weight: 700;
            }
          }
        }

        .integrasiSistem {
          margin: 31px 0px 0px 102px;
          width: 180px;
          letter-spacing: 0;
          color: #000000;
          font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 24px;
          font-weight: 700;
        }
      }

      .autoWrapper3 {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        align-self: stretch;

        .rectangle6 {
          display: flex;
          align-items: center;
          align-self: stretch;
          background: #ffffff;
          padding: 42px 53px 42px 52px;

          .berandaManagementUse {
            line-height: 29px;
            letter-spacing: 0;
            color: #000000;
            font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 24px;
            font-weight: 700;
          }

          .ionNotifcations {
            display: flex;
            align-items: flex-start;
            margin-left: 938px;
            padding-top: 1px;
            padding-left: 2px;
            width: 50px;
            height: 50px;
            overflow: hidden;

            .frame1 {
              width: 224px;
              height: 59px;
              overflow: hidden;
            }
          }

          .admin {
            margin: 0px 0px 0px 29px;
            width: 75px;
            height: 25px;
            letter-spacing: 0;
            color: #000000;
            font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 24px;
          }

          .ggProfile {
            margin-left: 19px;
            width: 50px;
            height: 50px;
            overflow: hidden;
          }
        }

        .rectangle9 {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          align-self: stretch;
          margin: 26px 17px 0px 28px;
          border-radius: 15px;
          background: #ffffff;
          padding: 27px 26px 180px 16px;

          .pencarianUser {
            margin: 0px 0px 0px 2px;
            width: 270px;
            height: 45px;
            letter-spacing: 0;
            color: #000000;
            font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 24px;
            font-weight: 700;
          }

          .rectangle10 {
            display: flex;
            align-items: flex-start;
            align-self: stretch;
            margin-top: 7px;
            border: 1px solid #000000;
            border-radius: 15px;
            background: #ffffff;
            padding: 32px 784px 16px 19px;

            .falih {
              width: 716px;
              height: 49px;
              letter-spacing: 0;
              color: #000000;
              font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 24px;
            }
          }

          .hasilPencarian {
            opacity: 0.8;
            margin: 9px 0px 0px 8px;
            width: 252px;
            height: 28px;
            letter-spacing: 0;
            color: #000000;
            font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 24px;
          }
        }
      }
    }

    .vector3 {
      display: flex;
      position: absolute;
      top: 422px;
      left: 36px;
      align-items: center;
      width: 46px;
      height: 46px;
      background-image: url(../image/mkmaknqs-24jjxfb.svg);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;

      .vector2 {
        width: 46px;
        height: 46px;
      }
    }
  }

  .autoWrapper5 {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    padding-right: 0;
    padding-left: 0;

    .beranda2 {
      margin: 0px 0px 0px 9px;
      line-height: 29px;
      letter-spacing: 0;
      color: #000000;
      font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 24px;
      font-weight: 700;
    }

    .history2 {
      margin: 54px 0px 0px 9px;
      line-height: 29px;
      letter-spacing: 0;
      color: #000000;
      font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 24px;
      font-weight: 700;
    }

    .managamentUser2 {
      margin: 59px 0px 0px;
      width: 180px;
      letter-spacing: 0;
      color: #000000;
      font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 24px;
      font-weight: 700;
    }

    .integrasiSistem2 {
      margin: 35px 0px 0px 25px;
      width: 180px;
      letter-spacing: 0;
      color: #000000;
      font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 24px;
      font-weight: 700;
    }
  }
}
