* {
  box-sizing: border-box;
}

.integrasiSystemTamba {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  padding: 160px 1707px 849px 115px;
  width: 1920px;
  height: 1123px;

  .rectangle18 {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    align-items: flex-start;
    justify-content: space-between;
    background: #d9d9d9;
    width: 1920px;
    height: 1123px;

    .materialSymbolsHisto {
      width: 50px;
      height: 50px;
      overflow: hidden;
    }

    .rectangle13 {
      display: flex;
      position: relative;
      flex-direction: column;
      align-items: flex-start;
      border-radius: 5px;
      background: #439df1;
      padding: 37px 19px 739px;

      .vector {
        position: absolute;
        top: 327px;
        left: 39px;
        width: 46px;
        height: 46px;
      }

      .autoWrapper3 {
        display: flex;
        position: relative;
        flex-direction: column;
        align-items: flex-start;
        align-self: stretch;
        padding-right: 0;
        padding-left: 0;

        .logoPertaminaGasNega {
          margin-left: 35px;
          width: 200px;
          height: 60px;
        }

        .autoWrapper {
          display: flex;
          align-items: flex-start;
          align-self: stretch;
          justify-content: space-between;
          margin-top: 46px;
          padding-right: 76px;
          padding-left: 28px;

          .lineMdHomeTwotone {
            position: relative;
            width: 50px;
            height: 50px;
            overflow: hidden;

            .vector2 {
              position: absolute;
              top: 6px;
              left: 10px;
              width: 29px;
              height: 38px;
            }

            .group {
              position: absolute;
              top: 4px;
              left: 4px;
              width: 42px;
              height: 41px;
            }

            .materialSymbolsHomeR {
              position: absolute;
              top: 0;
              left: 0;
              width: 50px;
              height: 50px;
              overflow: hidden;
            }
          }

          .beranda {
            margin: 17px 0px 0px;
            width: 98px;
            height: 30px;
            letter-spacing: 0;
            color: #000000;
            font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 24px;
            font-weight: 700;
          }
        }

        .autoWrapper2 {
          display: flex;
          align-items: flex-start;
          align-self: stretch;
          justify-content: space-between;
          margin-top: 39px;
          padding-right: 87px;
          padding-left: 28px;

          .history {
            margin: 13px 0px 0px;
            line-height: 29px;
            letter-spacing: 0;
            color: #000000;
            font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 24px;
            font-weight: 700;
          }
        }

        .rectangle16 {
          position: relative;
          margin-top: 33px;
          border-radius: 15px;
          background: #ffffff;
          width: 270px;
          height: 69px;

          .tambahModulSystem {
            position: absolute;
            top: 6px;
            left: 89px;
            width: 180px;
            height: 58px;
            letter-spacing: 0;
            color: #000000;
            font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 24px;
            font-weight: 700;
          }

          .rectangle17 {
            display: flex;
            position: absolute;
            top: 0;
            left: 0;
            align-items: flex-start;
            justify-content: space-between;
            border-radius: 15px;
            background: #ffffff;
            padding: 6px 1px 5px 22px;
            width: 270px;
            height: 69px;

            .grommetIconsSystem {
              margin-top: 6px;
              width: 50px;
              height: 50px;
              overflow: hidden;
            }

            .integrasiSistem {
              width: 180px;
              letter-spacing: 0;
              color: #000000;
              font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 24px;
              font-weight: 700;
            }
          }
        }
      }
    }

    .autoWrapper7 {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      align-self: stretch;

      .rectangle6 {
        display: flex;
        align-items: flex-start;
        align-self: stretch;
        background: #ffffff;
        padding: 48px 71px 47px 20px;

        .dashboardIntegrasiSi {
          margin: 8px 0px 0px;
          line-height: 29px;
          letter-spacing: 0;
          color: #000000;
          font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 24px;
          font-weight: 700;
        }

        .vector3 {
          margin-left: 977px;
          width: 38px;
          height: 44px;
        }

        .autoWrapper4 {
          position: relative;
          margin-top: 7px;
          margin-left: 18px;
          width: 135px;
          height: 25px;

          .group2 {
            position: absolute;
            right: -41px;
            bottom: -13px;
            width: 46px;
            height: 46px;
          }

          .supervisor {
            position: absolute;
            top: 0;
            left: 0;
            width: 135px;
            height: 25px;
            letter-spacing: 0;
            color: #000000;
            font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 24px;
          }
        }
      }

      .rectangle42 {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        align-self: stretch;
        margin: 15px 30px 0px 20px;
        border-radius: 10px;
        background: #ffffff;
        padding: 42px 42px 27px 48px;

        .autoWrapper5 {
          display: flex;
          align-items: center;
          align-self: stretch;
          justify-content: space-between;
          padding-right: 1025px;
          padding-left: 11px;

          .tambahModulAplikasi {
            line-height: 39px;
            letter-spacing: 0;
            color: #000000;
            font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 32px;
            font-weight: 700;
          }
        }

        .rectangle47 {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          align-self: stretch;
          margin-top: 28px;
          border: 1px solid #000000;
          border-radius: 15px;
          background: #ffffff;
          padding: 25px 528px 20px 35px;

          .contohBukuSakuDigita {
            opacity: 0.25;
            line-height: 24px;
            letter-spacing: 0;
            color: #000000;
            font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 20px;
            font-weight: 300;
          }

          .namaModulAplikasi {
            line-height: 29px;
            letter-spacing: 0;
            color: #000000;
            font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 24px;
            font-weight: 700;
          }

          .roundedRectangle {
            display: flex;
            align-items: center;
            align-self: stretch;
            margin-top: 9px;
            margin-right: 561px;
            border: 1px solid #000000;
            border-radius: 5px;
            background: #ffffff;
            padding: 8px 82px 8px 14px;
          }

          .deskripsiSingkat {
            margin: 18px 0px 0px;
            line-height: 29px;
            letter-spacing: 0;
            color: #000000;
            font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 24px;
            font-weight: 700;
          }

          .roundedRectangle2 {
            display: flex;
            align-items: flex-start;
            align-self: stretch;
            margin-top: 9px;
            border: 1px solid #000000;
            border-radius: 5px;
            background: #ffffff;
            padding: 8px 201px 134px 14px;
          }

          .autoWrapper6 {
            position: relative;
            margin-top: 2px;
            width: 346px;
            height: 255px;

            .roundedRectangle3 {
              position: absolute;
              bottom: -3px;
              left: 0;
              border: 1px solid #000000;
              border-radius: 5px;
              background: #ffffff;
              width: 346px;
              height: 42px;
            }

            .roundedRectangle4 {
              display: flex;
              position: absolute;
              top: 118px;
              right: -408px;
              align-items: center;
              border: 1px solid #000000;
              border-radius: 5px;
              background: #ffffff;
              padding: 8px 0px 8px 6px;
              width: 754px;
              height: 42px;

              .contohInternalEkster {
                opacity: 0.25;
                width: 747px;
                letter-spacing: 0;
                color: #000000;
                font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                font-size: 20px;
                font-weight: 300;
              }
            }

            .gridiconsDropdown {
              position: absolute;
              bottom: -7px;
              left: 296px;
              width: 50px;
              height: 50px;
              overflow: hidden;
            }

            .group12 {
              position: absolute;
              top: 0;
              left: 0;
              width: 346px;
              height: 255px;

              .roundedRectangle5 {
                display: flex;
                position: absolute;
                top: 0;
                left: 0;
                flex-direction: column;
                align-items: flex-start;
                border: 1px solid #000000;
                border-radius: 5px;
                background: #ffffff;
                padding-top: 18px;
                padding-bottom: 1px;
                width: 346px;
                height: 255px;

                .pilihKategori {
                  opacity: 0.25;
                  margin: 0px 0px 0px 9px;
                  line-height: 24px;
                  letter-spacing: 0;
                  color: #000000;
                  font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                  font-size: 20px;
                  font-weight: 300;
                }

                .rectangle48 {
                  display: flex;
                  align-items: center;
                  align-self: stretch;
                  margin-top: 7px;
                  margin-left: -1px;
                  border-radius: 5px;
                  background: #439df1;
                  padding-right: 76px;
                  padding-left: 10px;

                  .projectManagementOff {
                    line-height: 24px;
                    letter-spacing: 0;
                    color: #000000;
                    font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                    font-size: 20px;
                  }
                }

                .cityGasProject {
                  margin: 7px 0px 0px 9px;
                  line-height: 24px;
                  letter-spacing: 0;
                  color: #000000;
                  font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                  font-size: 20px;
                }

                .informationAndCommun {
                  margin: 7px 0px 0px 9px;
                  width: 336px;
                  letter-spacing: 0;
                  color: #000000;
                  font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                  font-size: 20px;
                }
              }

              .gridiconsDropdown2 {
                position: absolute;
                top: 0;
                left: 296px;
                width: 50px;
                height: 50px;
                overflow: hidden;
                rotate: -180deg;
              }
            }
          }

          .statusModulPenting {
            margin: 21px 0px 0px;
            line-height: 29px;
            letter-spacing: 0;
            color: #000000;
            font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 24px;
            font-weight: 700;
          }

          .ionSwitch {
            width: 48px;
            height: 48px;
            overflow: hidden;
          }

          .rectangle45 {
            display: flex;
            align-items: center;
            align-self: stretch;
            margin-top: 9px;
            margin-right: 657px;
            border-radius: 15px;
            background: #0dcd4d;
            padding: 13px 52px 13px 51px;

            .tambahModul {
              width: 147px;
              letter-spacing: 0;
              color: #000000;
              font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 20px;
              font-weight: 700;
            }
          }
        }
      }
    }
  }

  .autoWrapper8 {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    padding-right: 0;
    padding-left: 0;

    .beranda2 {
      width: 98px;
      height: 30px;
      letter-spacing: 0;
      color: #000000;
      font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 24px;
      font-weight: 700;
    }

    .history2 {
      margin: 55px 0px 0px;
      line-height: 29px;
      letter-spacing: 0;
      color: #000000;
      font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 24px;
      font-weight: 700;
    }
  }
}
