* {
  box-sizing: border-box;
}

.adminMengeklikHakAks {
  display: flex;
  align-items: center;
  border: 1px dashed #8a38f5;
  padding: 19px 28px 19px 10px;
  width: 1960px;
  height: 1120px;
  overflow: hidden;

  .property1Default {
    position: relative;
    border: 1px solid #000000;
    width: 1920px;
    height: 1080px;

    .halamanAdmin {
      display: flex;
      position: absolute;
      top: -1px;
      left: -1px;
      flex-direction: column;
      align-items: flex-start;
      background: #e5e4e4;
      padding: 0px 4px 62px 308px;
      width: 1920px;
      height: 1080px;

      .rectangle6 {
        display: flex;
        align-items: flex-start;
        align-self: stretch;
        background: #ffffff;
        padding: 42px 53px 42px 52px;

        .berandaManagementUse {
          margin: 13px 0px 0px;
          line-height: 29px;
          letter-spacing: 0;
          color: #000000;
          font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 24px;
          font-weight: 700;
        }

        .ionNotifcations {
          display: flex;
          align-items: flex-start;
          margin-left: 938px;
          padding-top: 1px;
          padding-left: 2px;
          width: 50px;
          height: 50px;
          overflow: hidden;

          .frame1 {
            width: 224px;
            height: 59px;
            overflow: hidden;
          }
        }

        .admin {
          margin: 13px 0px 0px 29px;
          width: 75px;
          height: 25px;
          letter-spacing: 0;
          color: #000000;
          font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 24px;
        }

        .ggProfile {
          margin-left: 19px;
          width: 50px;
          height: 50px;
          overflow: hidden;
        }
      }

      .rectangle9 {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        align-self: stretch;
        margin: 26px 17px 0px 28px;
        border-radius: 15px;
        background: #ffffff;
        padding: 27px 26px 24px 16px;

        .pencarianUser {
          margin: 0px 0px 0px 2px;
          width: 270px;
          height: 45px;
          letter-spacing: 0;
          color: #000000;
          font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 24px;
          font-weight: 700;
        }

        .rectangle10 {
          display: flex;
          align-items: flex-start;
          align-self: stretch;
          margin-top: 7px;
          border: 1px solid #000000;
          border-radius: 15px;
          background: #ffffff;
          padding: 32px 784px 16px 19px;

          .cariNama {
            opacity: 0.5;
            width: 716px;
            height: 49px;
            letter-spacing: 0;
            color: #000000;
            font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 24px;
          }
        }
      }

      .rectangle11 {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        align-self: stretch;
        margin: 14px 17px 0px 30px;
        border-radius: 15px;
        background: #ffffff;
        padding: 24px 24px 39px 21px;

        .autoWrapper {
          display: flex;
          align-items: flex-start;
          align-self: stretch;
          justify-content: space-between;
          padding-right: 2px;
          padding-left: 1px;

          .manajemenUser {
            margin: 6px 0px 0px;
            width: 204px;
            height: 29px;
            text-align: center;
            letter-spacing: 0;
            color: #000000;
            font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 24px;
            font-weight: 700;
          }

          .rectangle12 {
            display: flex;
            align-items: flex-start;
            border-radius: 15px;
            background: #0643fb;
            padding: 10px 13px 5px 18px;

            .tambahUserBaru {
              width: 191px;
              height: 34px;
              letter-spacing: 0;
              color: #ffffff;
              font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 20px;
            }
          }
        }

        .rectangle14 {
          display: flex;
          position: relative;
          flex-direction: column;
          align-items: flex-start;
          align-self: stretch;
          margin-top: 30px;
          border-radius: 15px;
          background: #ebebeb;
          padding: 42px 37px 89px 31px;

          .falihGmailCom {
            position: absolute;
            right: -85px;
            bottom: -11px;
            opacity: 0.8;
            width: 208px;
            height: 17px;
            letter-spacing: 0;
            color: #000000;
            font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 20px;
          }

          .falih {
            position: absolute;
            top: 0;
            left: 0;
            width: 123px;
            height: 38px;
            letter-spacing: 0;
            color: #000000;
            font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 25px;
            font-weight: 700;
          }

          .autoWrapper4 {
            display: flex;
            align-items: flex-start;
            align-self: stretch;
            padding-right: 54px;
            padding-left: 34px;

            .password {
              position: absolute;
              top: 0;
              left: 0;
              width: 169px;
              height: 47px;
              letter-spacing: 0;
              color: #000000;
              font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 25px;
              font-weight: 700;
            }

            .namaEmail {
              width: 169px;
              height: 47px;
              letter-spacing: 0;
              color: #000000;
              font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 25px;
              font-weight: 700;
            }

            .autoWrapper2 {
              position: relative;
              margin-left: 31px;
              width: 169px;
              height: 47px;

              .jabatan {
                position: absolute;
                top: 0;
                right: -300px;
                width: 169px;
                height: 47px;
                letter-spacing: 0;
                color: #000000;
                font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                font-size: 25px;
                font-weight: 700;
              }

              .instansi {
                position: absolute;
                top: 0;
                right: -150px;
                width: 169px;
                height: 47px;
                letter-spacing: 0;
                color: #000000;
                font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                font-size: 25px;
                font-weight: 700;
              }
            }

            .autoWrapper3 {
              position: relative;
              margin-left: 464px;
              width: 169px;
              height: 47px;

              .role {
                position: absolute;
                top: 0;
                left: -145px;
                width: 169px;
                height: 47px;
                letter-spacing: 0;
                color: #000000;
                font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                font-size: 25px;
                font-weight: 700;
              }
            }

            .status {
              margin: 0px 0px 0px 50px;
              width: 94px;
              letter-spacing: 0;
              color: #000000;
              font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 25px;
              font-weight: 700;
            }

            .aksi {
              margin: 0px 0px 0px 120px;
              width: 94px;
              letter-spacing: 0;
              color: #000000;
              font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 25px;
              font-weight: 700;
            }
          }

          .rectangle15 {
            display: flex;
            align-items: flex-start;
            align-self: stretch;
            margin-top: 2px;
            border: 1px solid #000000;
            border-radius: 15px;
            background: #ffffff;
            padding: 17px 63px 34px 33px;

            .autoWrapper5 {
              position: relative;
              margin-top: 50px;
              width: 123px;
              height: 38px;
            }

            .falih123 {
              margin: 60px 0px 0px 85px;
              width: 117px;
              height: 31px;
              letter-spacing: 0;
              color: #000000;
              font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 24px;
              font-weight: 700;
            }

            .telkom {
              margin: 59px 0px 0px 33px;
              width: 117px;
              height: 31px;
              letter-spacing: 0;
              color: #000000;
              font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 24px;
              font-weight: 700;
            }

            .mahasiswa {
              margin: 60px 0px 0px 17px;
              width: 136px;
              height: 31px;
              letter-spacing: 0;
              color: #000000;
              font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 24px;
              font-weight: 700;
            }

            .manager {
              margin: 61px 0px 0px 28px;
              width: 117px;
              height: 31px;
              letter-spacing: 0;
              color: #000000;
              font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 24px;
              font-weight: 700;
            }

            .mdiPencil {
              margin-top: 68px;
              width: 24px;
              height: 24px;
              overflow: hidden;
            }

            .rectangle19 {
              display: flex;
              flex-direction: column;
              align-items: center;
              margin-top: 10px;
              margin-left: 24px;
              border: 1px solid #000000;
              border-radius: 15px;
              background: #ffffff;
              padding: 24px 21px 22px;

              .carbonCheckbox {
                margin-top: 1px;
                width: 18px;
                height: 18px;
                overflow: hidden;
              }

              .rekapKeuangan {
                width: 117px;
                height: 26px;
                text-align: center;
                letter-spacing: 0;
                color: #000000;
                font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                font-size: 14px;
                font-weight: 700;
              }

              .autoWrapper6 {
                display: flex;
                align-items: flex-start;
                align-self: stretch;
                justify-content: space-between;
                padding-right: 0;
                padding-left: 0;
              }

              .autoWrapper7 {
                display: flex;
                align-items: flex-start;
                align-self: stretch;
                justify-content: space-between;
                margin-top: 5px;
                padding-right: 0;
                padding-left: 0;
              }

              .autoWrapper8 {
                display: flex;
                align-items: flex-start;
                align-self: stretch;
                justify-content: space-between;
                margin-top: 7px;
                padding-right: 0;
                padding-left: 0;
              }
            }

            .systemUiconsCross {
              width: 21px;
              height: 21px;
              overflow: hidden;
            }

            .autoWrapper9 {
              position: relative;
              margin-top: 53px;
              margin-left: 4px;
              width: 121px;
              height: 35px;

              .vector {
                position: absolute;
                top: 0;
                left: 0;
                width: 121px;
                height: 35px;
              }

              .active {
                position: absolute;
                bottom: -6px;
                left: 29px;
                width: 77px;
                height: 33px;
                letter-spacing: 0;
                color: #000000;
                font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                font-size: 20px;
                font-weight: 700;
              }
            }

            .vector2 {
              margin-top: 53px;
              margin-left: 99px;
              width: 35px;
              height: 35px;
            }

            .delete {
              margin-top: 55px;
              margin-left: 11px;
              width: 40px;
              height: 40px;
              overflow: hidden;
            }
          }

          .rectangle17 {
            display: flex;
            position: relative;
            align-items: flex-start;
            align-self: stretch;
            margin-top: 40px;
            border: 1px solid #000000;
            border-radius: 15px;
            background: #ffffff;
            padding: 11px 67px 19px 25px;

            .autoWrapper10 {
              position: relative;
              width: 123px;
              height: 38px;
            }

            .falih1232 {
              margin: 10px 0px 0px 85px;
              width: 117px;
              height: 31px;
              letter-spacing: 0;
              color: #000000;
              font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 24px;
              font-weight: 700;
            }

            .telkom2 {
              margin: 9px 0px 0px 33px;
              width: 117px;
              height: 31px;
              letter-spacing: 0;
              color: #000000;
              font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 24px;
              font-weight: 700;
            }

            .mahasiswa2 {
              margin: 10px 0px 0px 17px;
              width: 136px;
              height: 31px;
              letter-spacing: 0;
              color: #000000;
              font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 24px;
              font-weight: 700;
            }

            .manager2 {
              margin: 10px 0px 0px 36px;
              width: 117px;
              height: 31px;
              letter-spacing: 0;
              color: #000000;
              font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 24px;
              font-weight: 700;
            }

            .mdiPencil2 {
              margin-top: 17px;
              width: 24px;
              height: 24px;
              overflow: hidden;
            }

            .iziin {
              margin: 10px 0px 0px 63px;
              width: 117px;
              height: 31px;
              letter-spacing: 0;
              color: #000000;
              font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 24px;
              font-weight: 700;
            }

            .vector3 {
              margin-top: 5px;
              margin-left: 63px;
              width: 121px;
              height: 35px;
            }

            .vector4 {
              margin-top: 5px;
              margin-left: 99px;
              width: 35px;
              height: 35px;
            }

            .delete2 {
              margin-top: 7px;
              margin-left: 11px;
              width: 40px;
              height: 40px;
              overflow: hidden;
            }

            .active2 {
              position: absolute;
              top: 25px;
              left: 1103px;
              width: 77px;
              height: 33px;
              letter-spacing: 0;
              color: #000000;
              font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 20px;
              font-weight: 700;
            }
          }

          .codexChecklist {
            position: absolute;
            top: 331px;
            left: 987px;
            width: 58px;
            height: 58px;
            overflow: hidden;
          }
        }
      }
    }

    .rectangle5 {
      display: flex;
      position: absolute;
      top: -1px;
      left: -3px;
      flex-direction: column;
      align-items: flex-start;
      background: #439df1;
      padding: 44px 9px 601px 19px;
      width: 308px;
      height: 1080px;

      .materialSymbolsHisto {
        width: 50px;
        height: 50px;
        overflow: hidden;
      }

      .logoPertaminaGasNega {
        margin-left: 18px;
        width: 200px;
        height: 60px;
      }

      .autoWrapper11 {
        display: flex;
        align-items: flex-start;
        align-self: stretch;
        justify-content: space-between;
        margin-top: 31px;
        padding-right: 96px;
        padding-left: 24px;

        .lineMdHomeTwotone2 {
          position: relative;
          width: 50px;
          height: 50px;
          overflow: hidden;

          .group {
            position: absolute;
            top: 4px;
            left: 4px;
            width: 42px;
            height: 41px;
          }

          .vector5 {
            position: absolute;
            top: 6px;
            left: 10px;
            width: 29px;
            height: 38px;
          }

          .materialSymbolsHomeR2 {
            display: flex;
            position: absolute;
            top: 0;
            left: 0;
            align-items: center;
            width: 50px;
            height: 50px;
            overflow: hidden;
            background-image: url(../image/mkmako1k-dykfw4b.svg);
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;

            .lineMdHomeTwotone {
              position: relative;
              width: 50px;
              height: 50px;
              overflow: hidden;

              .materialSymbolsHomeR {
                position: absolute;
                top: 0;
                left: 0;
                width: 50px;
                height: 50px;
                overflow: hidden;
              }
            }
          }
        }

        .beranda {
          margin: 21px 0px 0px;
          line-height: 29px;
          letter-spacing: 0;
          color: #000000;
          font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 24px;
          font-weight: 700;
        }
      }

      .autoWrapper12 {
        display: flex;
        align-items: center;
        align-self: stretch;
        justify-content: space-between;
        margin-top: 45px;
        padding-right: 107px;
        padding-left: 29px;

        .history {
          line-height: 29px;
          letter-spacing: 0;
          color: #000000;
          font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 24px;
          font-weight: 700;
        }
      }

      .rectangle21 {
        display: flex;
        align-items: center;
        align-self: stretch;
        margin-top: 41px;
        margin-right: 10px;
        border-radius: 15px;
        background: #ffffff;

        .rectangle22 {
          display: flex;
          flex-grow: 1;
          align-items: flex-start;
          justify-content: space-between;
          border-radius: 15px;
          background: #ffffff;
          padding: 7px 13px 4px 20px;
          width: 270px;
          min-width: 270px;

          .majesticonsUsers {
            display: flex;
            align-items: center;
            margin-top: 1px;
            overflow: hidden;
            background-image: url(../image/mkmako1k-pldz7te.svg);
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
          }

          .managamentUser {
            width: 180px;
            letter-spacing: 0;
            color: #000000;
            font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 24px;
            font-weight: 700;
          }
        }
      }

      .integrasiSistem {
        margin: 31px 0px 0px 100px;
        width: 180px;
        letter-spacing: 0;
        color: #000000;
        font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 24px;
        font-weight: 700;
      }
    }

    .beranda2 {
      position: absolute;
      top: 155px;
      left: 102px;
      width: 98px;
      height: 29px;
      line-height: 29px;
      letter-spacing: 0;
      color: #000000;
      font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 24px;
      font-weight: 700;
    }

    .history2 {
      position: absolute;
      top: 239px;
      left: 102px;
      width: 87px;
      height: 29px;
      line-height: 29px;
      letter-spacing: 0;
      color: #000000;
      font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 24px;
      font-weight: 700;
    }

    .managamentUser2 {
      position: absolute;
      top: 327px;
      left: 93px;
      width: 180px;
      height: 58px;
      letter-spacing: 0;
      color: #000000;
      font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 24px;
      font-weight: 700;
    }

    .vector7 {
      display: flex;
      position: absolute;
      top: 426px;
      left: 40px;
      align-items: center;
      width: 46px;
      height: 46px;
      background-image: url(../image/mkmako1l-h5wcnpy.svg);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;

      .vector6 {
        width: 46px;
        height: 46px;
      }
    }

    .integrasiSistem2 {
      position: absolute;
      top: 420px;
      left: 116px;
      width: 180px;
      height: 58px;
      letter-spacing: 0;
      color: #000000;
      font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 24px;
      font-weight: 700;
    }
  }
}
