* {
  box-sizing: border-box;
}

.falihGmailCom {
  opacity: 0.8;
  width: 208px;
  height: 17px;
  letter-spacing: 0;
  color: #000000;
  font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
  font-size: 20px;
}
