* {
  box-sizing: border-box;
}

.setelahMengkilTombol {
  display: flex;
  align-items: flex-start;
  padding-top: 3px;
  width: 1842px;
  height: 968px;

  .whatsAppImage2026011 {
    width: 1913px;
    height: 990px;
  }
}
