* {
  box-sizing: border-box;
}

.aksi {
  width: 94px;
  height: 30px;
  letter-spacing: 0;
  color: #000000;
  font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
  font-size: 25px;
  font-weight: 700;
}
