* {
  box-sizing: border-box;
}

.image3 {
  border-radius: 5px;
  width: 396px;
  height: 181px;
  background-image: url(../image/mkmakocr-b8dfk1z.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  filter: drop-shadow(0px 4px 4px #00000040);
}
